* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}
html {
  font-family: verdana, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
h1, h2, h3, h4 {
  margin-bottom: 24px;
}
h1 {
  font-size: 36px;
  line-height: 2;
}
h2, h3, h4 {
  font-size: 24px;
  line-height: 1;
}
header {
  text-align: center;
  padding-top: 24px;
  background: #ffebcd;
  width: 960px;
  margin: 0 auto;
}

nav {
  background-color: #142E4D;
}
nav ul {
  width: 960px;
  margin: 0 auto;
  overflow: hidden; /*  clearfix */
}
nav ul li {
  width: 25%;
  float: left;
}
nav ul li a {
  display: block;
  /*アニメ、小説の文字の色*/
  color: #B3BDF6;
  padding: 12px 0;
}
nav ul li a:hover {
  color: white;
  background-color: #1E81A4;/*  カーソルを当てたら色変更*/
}
.contents {
  overflow: hidden; /*  clearfix */
  width: 960px;
  margin: 0 auto;
}

.container {
  display: flex;
  margin: 40px auto 0;
  width: 1500px;
  max-width: 1560px;
  min-width: 600px;
  position: relative;
}
.main, .side {
  float: left;
  padding: 30px 20px;
}
.main {
  width: 1500px;
  background: #ffebcd;
   /*  メインの背景 */
}

.sabaku{
  border-bottom: dashed 1px #87CEFA;
  font-size: 50px;
}


.side {
  width: 600px;
  background-color: #eaff00;
  margin-bottom: -999999px;
  padding-bottom: 999999px;
  overflow: hidden;
}
.side1 {
  flex: 0 0 240px;
  order: -1;
}
.side2 {
  flex: 0 0 180px;
  width: 300px;
}
.main, .side1, .side2 {
  padding: 2%;
}

.contents p {
  margin-bottom: 24px;
  text-align: left;
  color: #eaff00;
}
footer {
  width: 960px;
  margin: 0 auto;
  padding: 48px 0;
  text-align: center;
  background: #999;
}
